<!DOCTYPE html>
<html>
<head>
    <title>Customer Care - Voice Agent Screen</title>
    <link rel="stylesheet" href="//media.twiliocdn.com/taskrouter/quickstart/agent.css"/>
    <link rel="stylesheet" href={{ url_for('static', filename='css/agent.css') }}>
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


  <!--  <script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.9.4/taskrouter.min.js"></script>-->
    <script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.13/taskrouter.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
<!-- <script src="https://media.twiliocdn.com/sdk/js/chat/v3.0/twilio-chat.min.js"></script>-->
  <script src="https://media.twiliocdn.com/sdk/js/chat/v1.2/twilio-chat.min.js"></script>
  <!--  <script src="https://media.twiliocdn.com/sdk/js/chat/v2.2/twilio-chat.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/sync/releases/0.8.2/twilio-sync.min.js"></script>
    <script type="text/javascript">
        /* Subscribe to a subset of the available TaskRouter.js events for a worker */
        let ReservationObject;
        let chatClient;
        let $chatWindow = $('#messages');
        let user_dataObject;
        let username;
        let workerName;
        //let syncClient;
        let generalChannel;
        let isManager = false;

        function registerTaskRouterCallbacks() {
            worker.on('ready', function (worker) {
             //   agentActivityChanged(worker.activityName);
                //logger("Successfully registered as: " + worker.friendlyName);

                workerName = worker.friendlyName;

                logger("Current activity is: " + worker.activityName);

                if(worker.attributes.skills && worker.attributes.skills.includes('manager')) {
                    document.querySelector('h2').innerHTML = "ACME manager desktop: " + worker.friendlyName;
                    isManager = true;
                } else {
                    document.querySelector('h2').innerHTML = "ACME agent desktop: " + worker.friendlyName;
                }
                if(worker.attributes.skills) {
                    logger("Skills: " + worker.attributes.skills);
                }
                    logger("Current activity is: " + worker.activityName);
                refreshWorkerUI(worker);
            });

            worker.on('activity.update', function (worker) {

                let activityName = worker.activityName;
                logger("Worker activity changed to: " + activityName);
                refreshWorkerUI(worker, worker.activityName);


            });

            worker.on("reservation.created", function (reservation) {
                logger("-----");
                logger("New chat request!");
                logger("Reference: " + reservation.task.attributes.channel);
                logger("-----");
                logger(reservation.sid);
                console.log(reservation.sid);
                ReservationObject = reservation;

                if (ReservationObject.task.attributes.selected_product === "sms"){

                    document.getElementById('btn_accept').innerText = 'Accept SMS chat'

                }

                refreshWorkerUI(worker, "Incoming Reservation")


            });

            worker.on("reservation.accepted", function (reservation) {
                logger("Reservation " + reservation.sid + " accepted!");
            });

            worker.on("reservation.rejected", function (reservation) {
                logger("Reservation " + reservation.sid + " rejected!");
            });

            worker.on("reservation.timeout", function (reservation) {
                logger("Reservation " + reservation.sid + " timed out!");
            });

            worker.on("reservation.canceled", function (reservation) {
                logger("Reservation " + reservation.sid + " canceled!");
            });



        }

        function print(infoMessage, asHtml) {
        var $msg = $('<div class="info">');
        if (asHtml) {
            $msg.html(infoMessage);
        } else {
            $msg.text(infoMessage);
        }
        $chatWindow.append($msg);
    }

        function acceptReservation() {

            ReservationObject.accept();
            refreshWorkerUI(worker, "In a Chat");
            console.log(ReservationObject);

            var chatWindowBox = $('#messages');
            chatWindowBox.innerText = '';
            // Our interface to the Chat service

           username = worker.friendlyName;

            // Helper function to print info messages to the chat window
            function logger(message) {
                    var log = document.getElementById('log');
                    log.value += "\n> " + message;
                    log.scrollTop = log.scrollHeight;
                }

            logger('Logging in to Chat...');

            // Get an access token for the current user, passing a username (identity)
            // and a device ID - for browser-based apps, we'll always just use the
            // value "browser"


            $.getJSON('/token', {
                identity: ReservationObject.workerName,
                device: 'browser'
            }, function(data) {

                username = data.identity;
                console.log(ReservationObject);
                user_identity = data.identity;
                user_dataObject = data;
                console.log(data);
                console.log(user_identity);

                // Initialize the Chat client
                chatClient = new Twilio.Chat.Client(data.token);
                chatClient.getSubscribedChannels().then(createOrJoinGeneralChannel);

               /* syncClient = new Twilio.Sync.Client(data.token, { logLevel: 'info' });

                syncClient.on('connectionStateChanged', function(state) {
                  if (state != 'connected') {
                    document.getElementById("syncStatus").innerText = 'Sync is not live (websocket connection <span style="color: red">' + state + '</span>';
                  } else {
                     document.getElementById("syncStatus").innerText ='Sync is live!';
                  }
                });
                 syncDocName = workerName;
                 syncClient.document(syncDocName).then(function(doc) {

                    console.log(syncDocName + ' Opened: ' + doc.value)
                  });
                  //Let's subscribe to changes on this document, so when something
                  //changes on this document, we can trigger our UI to update
                  syncClient.document(syncDocName).then(function (doc) {
                    doc.on("updated",function(data) {
                      console.log(workerName+': ' + JSON.stringify(data));

                    });
                  });*/



            });
  }

        function printMessage(fromUser, message) {
                var $chatWindowBox = $('#messages');

                var $user = $('<span class="username">').text(fromUser + ':');
                if (fromUser === username) {
                    $user.addClass('me');
                }
                var $message = $('<span class="message">').text(message);
                var $container = $('<div class="message-container">');
                $container.append($user).append($message);
                $chatWindowBox.append($container);
                $chatWindowBox.scrollTop($chatWindowBox[0].scrollHeight);
            }

        function createOrJoinGeneralChannel() {

                logger('Attempting to join customer chat channel...');
                var promise = chatClient.getChannelBySid(ReservationObject.task.attributes.channel);
                promise.then(function(channel) {
                    generalChannel = channel;
                    console.log(generalChannel);
                    setupChannel();
                    logger('Joined customer chat')
                }).catch(function() {
                    // If it doesn't exist, let's create it
                    logger('Creating general channel');
                    chatClient.createChannel({
                        uniqueName: 'general',
                        friendlyName: 'General Chat Channel'
                    }).then(function(channel) {
                        logger('Created general channel:');
                        logger(channel);
                        generalChannel = channel;
                        setupChannel();
                    });
                });
            }

        // Set up channel after it has been found
        function setupChannel() {
                // Join the general channel

            generalChannel.join().then(function (channel) {
                  if (ReservationObject.task.attributes.selected_product === "sms") {
                      printMessage(ReservationObject.task.attributes.from, ReservationObject.task.attributes.body)
                  }
                });

                // Listen for new messages sent to the channel
                    generalChannel.on('messageAdded', function(message) {

                   if (message.author === workerName)
                    {
                        //worker message will already have been added, so no need to print it to the screen
                    }else
                   { printMessage(message.author, message.body);}
                });

                    generalChannel.on('typingStarted', function (member) {
                    document.getElementById("typing").innerText =  member.identity + " is typing";
                       });

                    generalChannel.on('typingEnded', function (member) {
                      document.getElementById("typing").innerText =  member.identity + " stopped typing";

                    });

            }

        function sendMessage(){

              // Send a new message to the general channel

                             if (event.which == 13) {
                                 event.preventDefault();

                                 chatinput = $('#chat-input');
                                 console.log(chatinput.val());
                                 generalChannel.sendMessage(chatinput.val());

                                 printMessage(workerName, chatinput.val());

                              if (ReservationObject.task.attributes.selected_product ==="sms") {
                                  $.post("/sendSMS", {
                                    Body: String(chatinput.val()),
                                    From: ReservationObject.task.attributes.from

                                });

                              }
                                chatinput.val('');

                                /*  $.post("/syncStatus", {
                                            data: ReservationObject.task.attributes.channel,
                                     identity: user_dataObject.identity
                                }).then(function(Task) {
                                            logger('Created escalation: ' + Task);

                                        });*/
                             }
        }

        function completeReservation() {
            logger('chat complete!');
            let type;

            if (ReservationObject.task.attributes.selected_product ==="sms")
            {
                type = 'sms'
            }
            else{
                type = 'chat'
            }
            ReservationObject.task.complete();
           worker.update("ActivitySid", "{{ activity['WrapUp'] }}", function (error, worker) {
                if (error) {
                    console.log(error.code);
                    console.log(error.message);
                }
            });

            $.post("/postChat/", {
                channel: ReservationObject.task.attributes.channel,
                identity: user_dataObject.identity,
                type:type
            });

             document.getElementById("messages").innerText ='';
        }

        function escalateChat(){
           logger("Attempting to create escalation to Manager");
             $.post("/escalateChat/", {
                channel: ReservationObject.task.attributes.channel,
                 identity: user_dataObject.identity
            }).then(function(Task) {
                        logger('Created escalation: ' + Task);

                    });
        }

        function logger(message) {
            var log = document.getElementById('log');
            log.value += "\n> " + message;
            log.scrollTop = log.scrollHeight;
        }

         window.onload = function () {
            // Initialize TaskRouter.js on page load using window.workerToken -
            // a Twilio Capability token that was set from rendering the template with agents endpoint
            logger("Initializing...");
            window.worker = new Twilio.TaskRouter.Worker("{{ worker_token| safe }}");

            registerTaskRouterCallbacks();


         /*   $.getJSON('/synctoken', {
                identity: 'syncworker',
                device: 'browser'
            }, function(data) {

                username = data.identity;
                user_identity = data.identity;
                user_dataObject = data;
                console.log(data);
                console.log(user_identity);

                syncClient = new Twilio.Sync.Client(data.token, { logLevel: 'info' });

                syncClient.on('connectionStateChanged', function(state) {
                  if (state != 'connected') {
                    document.getElementById("syncStatus").innerText = 'Sync is not live - websocket connection ' + state;
                  } else {
                     document.getElementById("syncStatus").innerText ='Sync is live!';
                  }
                });
                 var syncDocName = 'syncSessionStatusDoc';
                 syncClient.document(syncDocName).then(function(doc) {

                    console.log(syncDocName + ' Opened: ' + doc.value)
                  });
                  //Let's subscribe to changes on this document, so when something
                  //changes on this document, we can trigger our UI to update
                  syncClient.document(syncDocName).then(function (doc) {
                    doc.on("updated",function(data) {
                      console.log(workerName+': ' + JSON.stringify(data));

                    });

                         var data = '';
                       // syncDoc.set(data);




                  });



            }); */
        };

        function goAvailable() {
            // update worker's activity to Idle

          //  refreshWorkerUI(worker, 'Idle');
            worker.update("ActivitySid", "{{ activity['Idle'] }}", function (error, worker) {
                if (error) {
                    console.log(error.code);
                    console.log(error.message);
                }
            });
        }
        function goOffline() {
            // update worker's activity to Offline
            worker.update("ActivitySid", "{{ activity['Offline'] }}", function (error, worker) {
                if (error) {
                    console.log(error.code);
                    console.log(error.message);
                }
            });
        }

        // Show/hide buttons corresponding to the activity
        function refreshWorkerUI(worker, activityOverride = null) {
            let activityName = activityOverride || worker.activityName;

            console.log("Worker activity: " + activityName);
            let buttons = {
                'online'   : false,
                'offline'  : false,
                'escalate' : false,
                'accept'   : false,
                'reject'   : false,

            };

            switch(activityName) {
                case "Idle":
                    buttons['offline'] = true;
                    break;
                case "Offline":
                    buttons['online'] = true;
                    break;
                case "Incoming Reservation":
                    buttons['accept'] = true;
                    buttons['reject'] = true;
                    break;
                case "In a Chat":
                    if(!isManager) {
                        buttons['escalate'] = true;

                    }
                    buttons['leave'] = true;
                    break;
                case "WrapUp":
                    buttons['offline'] = true;
                    buttons['online'] = true;
                     buttons['leave'] = false;
                    if(!isManager) {
                        buttons['escalate'] = false;

                    }
                    break;
            }
            Object.keys(buttons).forEach(function(button) {
                //console.log(button, buttons[button]);
                document.getElementById("btn_" + button).style.display = (buttons[button] ? "inline" : "none");
            });

            let available = worker.available;
            console.log(available);
            document.getElementById("worker_status").innerText = activityName;
            if (available === true) {
                document.getElementById("worker_status").style.color = "#00BB00";
            } else {
                document.getElementById("worker_status").style.color = "#BB0000";
            }
        }


    </script>

</head>
<body>
<div class="content">
    <div class="content">
    <h2>ACME desktop</h2>

    <section id="worker_status">
    </section>
    <section>
        <br/>
        <button id="btn_accept" style="display:none;" class="btn" onclick="acceptReservation()">Accept</button>
        <button id="btn_reject" style="display:none;" class="btn" onclick="rejectReservation()">Reject</button>
        <button id="btn_leave"  style="display:none"  class="btn" onclick="completeReservation()">End chat</button>

        <button id="btn_online" style="display:none;" class="btn" onclick="goAvailable()">Go Available</button>
        <button id="btn_offline" style="display:none;" class="btn" onclick="goOffline()">Go Offline</button>

         <button id="btn_escalate" style="display:none" class="btn" onclick="escalateChat()">Escalate chat</button>
    </section>

    <section class="log">
    </section>
    <br/>
    <section>
    <textarea id="log" readonly="true"></textarea>
    </section>
         <section>
      <div id="syncStatus"></div>
      <div id="typing"></div>
      <div id="messages"></div>

    <input id="chat-input" onkeypress="sendMessage()" type="text" placeholder="..." autofocus/>
  </section>
    <div>
        <a href="/agent_list">Back to Agent List</a>
    </div>
</div>

    <!--<script src={{ url_for('static', filename='js/index.js') }}></script>-->






</div>
</body>
</html>